.orders-page-container {
    padding: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orders-page-header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
}

.orders-tab {
    padding-bottom: 8px;
    font-size: 18px;
    color: #666;
    background: none;
    border: none;
    cursor: pointer;
}

.orders-tab.active {
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #8b5e3c;
}

.orders-status {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.status-indicator {
    background-color: #32cd32;
    color: #fff;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

.orders-list {
    flex-grow: 1;
}

.order-section {
    margin-bottom: 24px;
}

.order-section h3 {
    margin: 0 0 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5B5B5B;
}

.orderitem {
    padding: 1rem;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-bottom: 0.5rem;
    cursor: pointer;
    width: 100%;
}

.ordernumber{
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    color: #5B5B5B;
    
}
.ordertime {
    margin: 0;
    color: #5B5B5B;
    font-size: 0.9rem;
}

.order-arrow {
    font-size: 1.2rem;
    color: #5B5B5B;
}

@media screen and (min-width:300px) and (max-width:400px){
    .ordernumber{
        margin: 0;
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        color: #5B5B5B;
        
    }
    .ordertime {
        margin: 0;
        color: #5B5B5B;
        font-size: 0.7rem;
    } 
    .order-arrow {
        font-size: 1rem;
        color: #5B5B5B;
    }
    .order-section h3 {
        font-size: 1.4rem;
    }
}