.missing-container{
    display: flex;
    justify-content: center;
}
.missing-head{
    text-align: center;
    align-content: center;
    svg{
        width: 3rem;
        height: 2rem;
    }
}
.missing-content{
    background: #ffffffe6;
    padding: 3rem;
    margin-top: 15%;
    border-radius: 1rem;

}
.missing-head {
    text-decoration: none;
    color: #794D31;
    font-size: 1rem;
}