.location-option{
    padding: 1rem;
    border-radius: 1rem;
    border-style:solid;
    border-color: rgb(95, 92, 92);
    border-width: 1px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 5.4rem;
    color: rgb(95, 92, 92);
    font-weight: 800;
    text-decoration: none;
    svg{
        color: rgb(95, 92, 92);
    }
    .arrow{
        margin-left:auto;
    }
}
.mapping{
    padding-top: 0.9rem;
    width: 100%;

}

.pick-location{
    font-size: clamp(17px,2.0vw,28%);
    font-weight: 900;
    color: rgb(95, 92, 92);
    text-align: center;
}

.coffeebean{
    width: 2.1rem;
}