.order-history {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-item {
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
}

.header-item.active {
  border-bottom: 2px solid #8B5E34;
}

.order-section {
  margin-bottom: 20px;
}

.order-section-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: gray;
}

.order-item {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.order-header-left {
  flex: 1;
}

.order-header-right {
  display: flex;
  align-items: center;
}

.orderhist-status {
  padding: 5px 10px;
  border-radius: 3rem;
  color: #fff;
  font-size: 14px;
  width: 7rem;
  margin-right: 10px;
  border: none;
}

.order-status.complete {
  background-color: #30B700;
}

.order-status.failed {
  background-color: #D30000;
}

.order-status.in-progress {
  background-color: #0080B7;
}

.order-status.pending {
  background-color: #808080;
}

.order-status.prepared {
  background-color: #30B700;
}

.dropdown-arrow {
  margin-left: 10px;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 14px;
  color: #555;
  padding: 10px 0 0 20px;
  flex-wrap: wrap;
}

.order-details.show {
  max-height: 150px;
  margin-top: 10px;
  padding-bottom: 1rem;
  overflow-y: auto;
}

.order-details .order-info {
  flex-grow: 1;
}

.order-details .cancel-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.footer-icon {
  width: 30px;
  height: 30px;
  background-color: #F7F7F7;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  button.order-status {
      font-size: 0.8rem;
      border-radius: 1rem;
      padding: 0.4rem 1px;
  }
  .orderhist-status {
    padding: 4px 8px;
    border-radius: 3rem;
    color: #fff;
    font-size: 12px;
    width: 7rem;
    margin-right: 5px;
  }
  .order-status.Cancelled {
    background-color: #D30000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 2rem;
  }
}

/* .containing {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */


@media screen and (min-width:300px) and (max-width:321px) {
  
}