.order-history {
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-item {
  flex: 1;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  cursor: pointer;
}

.header-item.active {
  border-bottom: 2px solid #8B5E34;
}

.order-section {
  margin-bottom: 20px;
}

.order-section-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: gray;
}

.order-item {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.order-header-left {
  flex: 1;
}

.order-header-right {
  display: flex;
  align-items: center;
}

.order-status {
  padding: 5px 10px;
  border-radius: 3rem;
  color: #fff;
  font-size: 14px;
  width: 7rem;
  margin-right: 10px;
}

.order-status.complete {
  background-color: #30B700;
}

.order-status.failed {
  background-color: #D30000;
}

.order-status.in-progress {
  background-color: #0080B7;
}

.order-status.pending {
  background-color: #808080;
}

.order-status.prepared {
  background-color: #30B700;
}

.dropdown-arrow {
  margin-left: 10px;
}

.order-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  font-size: 14px;
  color: #555;
  padding: 10px 0 0 20px;
}

.order-details.show {
  max-height: 500px;
  margin-top: 10px;
  padding-bottom: 2.5rem;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.footer-icon {
  width: 30px;
  height: 30px;
  background-color: #F7F7F7;
  border-radius: 50%;
  cursor: pointer;
}
