spring:
  application:
    name: BBD-Coffee-Application
  datasource:
    url: jdbc:mysql://bbdcoffeeapp.c6kdmrjteyms.us-east-1.rds.amazonaws.com:3306/bbdcoffee
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}

  #Jpa Settings
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyHbmImpl
    show-sql: false
server:
  port: 5000